@import "inspinia/variables.less";

.newsletter-widget {
  max-width: 600px;
  margin: 0 auto 1.5em;

  &.newsletter-widget-editor {
    border-bottom: none;
  }

  padding-bottom: 1.5em;
  border-bottom: 1px solid @border-color;

  .newsletter-widget-tools, .newsletter-widget-header {
    margin-bottom: 1.5em;
    text-align: center;
  }

}

.newsletter-widget-stats {

  .regular, .good, .bad {

    label {
      text-align: center;
      font-size: larger;
      display: block;
    }

    span {
      display: block;
      text-align: center;
      font-size: xx-large;

    }
  }

  .good span {
    color: @brand-success;
  }

  .bad span {
    color: @brand-danger;
  }

}