.memberships, .invitations {

  .membership-info{

    div{

      &:first-of-type{
        margin-top: 5px;
      }

      .text-right;
      margin-bottom: 5px;
    }

    .owner {
      margin-right: 5px;
      font-size: large;
    }

    img {
      max-width: 75px;
      .pull-left;
      margin-right: 5px;
    }

    .btn-danger{
      margin-top: 10px;
    }

  }

}

//list styles
.teams, .memberships, .invitations{

  list-style: none;
  padding: 0;

  li {
    padding: 15px 0;
  }

  li:not(:last-child) {
    margin-bottom: 15px;
    border-bottom: 1px solid @border-color;
  }
}

.team-list{
  li{
    padding: 10px 0;
  }
}