.no-posts-box{

  .text-center;
  min-height: 150px;
  margin-top: 50px;


  a{
    .btn;
    .btn-primary();
    .btn-lg;
    .btn-block;
  }

}

.blog-image{

  border-bottom: 1px solid @border-color;
  margin-bottom: 2em;

  img{
    margin-top: 1.5em;
  }

}